body {
    /* Workaround for some mobile browsers */
    min-height: 100%;
    /* This image will be displayed fullscreen */
    background: url("hello3.jpg") no-repeat center center fixed;

    /* Ensure the html element always takes up the full height of the browser window */
    min-height: 100%;

    /* The Magic */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    background-size: cover;

}

.container {
    background-color: rgba(230,255,230,0.7);
}


